/* Basic Text Styles (over-ridded by div specific styles below) */
p { color: #000000; font-size: 1em; }

a:link { color: #000000; font-family: garamond; text-decoration: none; }

a:visited { color: #000000; }

a:hover { color: #ef1414; }

a:active { color: #000000; }

ul { list-style-type: none; margin: 0; line-height: 1.4em; }

a.chapterlink { color: #ef1414; font-family: helvetica; text-align: left; font-size: 1em; line-height: 1em; }

a.list-element { padding-left: 30px; }

h1 { font-family: helvetica; text-align: left; font-size: 1.5em; line-height: 1.5em; }

h2 { color: #ef1414; font-family: helvetica; text-align: left; font-size: 1em; line-height: 1em; }

h3 { font-family: garamond; text-align: left; font-size: 1.2em; line-height: 1.2em; }

h4 { font-family: garamond; text-align: left; font-size: 0.8em; line-height: 1em; }

/* Positioning div styles and text styling over-rides by div */
.wrapper { max-width: 800px; margin: 0 auto; position: relative; clear: both; }

#header { padding: 5px 5px 5px 5px; background: #ffffff; }

#header h1 { font-family: helvetica; text-align: left; font-size: 1em; line-height: 0.25em; }

#header h2 { color: #ef1414; font-family: helvetica; text-align: left; font-size: 1em; line-height: 1em; }

#header h3 { font-family: garamond; text-align: left; font-size: 2em; line-height: 1em; }

#header a:link, #header a:visited, #header a:hover, #header a:active { color: #ef1414; font-family: helvetica; text-align: left; font-size: 1em; line-height: 1em; }

#nav { width: 800px; min-width: 480px; padding: 10px 0px 10px 0px; background: #000000; color: #ffffff; }

#nav ul { margin: 0; padding: 0; list-style: none; }

#nav li { display: inline; margin: 0; padding: 0; }

#nav a:link, #nav a:visited { text-decoration: none; color: #ffffff; font-family: helvetica; padding: 15px 15px 15px 15px; font-weight: bold; }

#nav a:hover { background: #ffffff; color: #ef1414; }

#search { position: absolute; right: 0; width: 300px; margin: 20px; background: #ffffff; color: #ffffff; }

input[type="text"] { width: 180px; padding: 5px; }

input[type="submit"] { padding: 7px; background-color: #000000; border: 1px solid #ffffff; color: #ffffff; text-decoration: none; font-weight: bold; }

input[type="submit"]:hover { color: ef1414; background-color: e3e2e2; }

#footerWrapper { clear: both; padding-top: 30px; }

#banner { margin-right: -40px; margin-bottom: -5px; }

#banner img { width: 100%; max-width: 100%; height: auto; padding: 0; }

#footer { clear: both; padding: 5px 20px; width: 800px; background: #000000; }

#footer p { color: #ffffff; font-family: helvetica; font-size: 1 em; }

#footer a:link { text-decoration: none; color: #ffffff; font-family: helvetica; }

#footer a:visited { color: #ffffff; }

#footer a:hover { color: #ef1414; }

/* Template Specific Styles */
#Cover { padding: 5px 5px 5px 5px; background: #ffffff; }

#Cover h1 { font-family: helvetica; text-align: left; font-size: 4em; line-height: 0.25em; }

#Cover h2 { color: #ef1414; font-family: helvetica; text-align: left; font-size: 1.25em; line-height: 1em; }

#Cover a:link, #Cover a:visited, #Cover a:hover, #Cover a:active { color: #ef1414; font-family: helvetica; text-align: left; font-size: 1.25em; line-height: 1em; }

#Chapter { background-color: #ffffff; float: left; min-width: 400px; padding: 0px 10px 0px 50px; }

#Lessons { border-style: solid; border-width: thin; border-color: #dcdcdc; background: #ffffff; overflow: hidden; width: 240px; padding: 3px 60px 10px 20px; float: right; }

#Lessons h3 { font-size: 1em; font-family: helvetica; color: ef1414; }

#Lessons a:link { font-size: 1em; text-decoration: none; }

#Lessons ul { list-style-type: none; line-height: 1.5em; padding: 2px; }

#Lexicon { background-color: #ffffff; float: left; margin-right: 20px; min-width: 400px; padding: 0px 10px; }

#Lexicon p { max-width: 200px; }

#Lexicon ul { padding: 5px; list-style-type: none; margin: 0; line-height: 1.4em; }

#Lexicon ul li a { background-color: transparent; color: #000000; font-family: garamond; text-decoration: none; }

#Intro { border-style: solid; border-width: thin; border-color: #dcdcdc; background: #ffffff; overflow: hidden; width: 240px; padding: 3px 60px 10px 20px; float: right; margin-top: 100px; }

#Intro h3 { font-family: helvetica; color: ef1414; }

#Intro a:link { font-size: 1em; text-decoration: none; }

#Intro ul { line-height: 1.5em; }

#Intro h3 { font-size: 2em; }

body.index .main { margin-top: 120px; }

body.index h2#chapter { margin: 30px 0; }

body.index h2#chapter a { color: #ef1414; font-family: helvetica; text-align: left; font-size: 1em; line-height: 1em; }

.book-page #Page h5 { max-width: 400px; color: #ef1414; font-family: helvetica; text-align: left; font-size: 2em; line-height: 0.25em; }

.book-page #Page h4 { max-width: 400px; color: #000000; font-family: helvetica; text-align: left; font-size: 5em; line-height: 1.2em; }

.lexicon-page #Page, .search #Page { background-color: #ffffff; float: left; margin-right: 20px; min-width: 400px; padding: 10px 10px; }

.lexicon-page #Page a, .search #Page a { font-weight: bold; text-decoration: underline; padding: 1px; background-color: transparent; }

.lexicon-page #Results, .search #Results { width: 100%; font-size: 1.25em; }

.lexicon-page #Results p, .search #Results p { max-width: 100%; }

.lexicon-page #Results .usage-page h2, .search #Results .usage-page h2 { display: none; }

.synonyms { color: #000000; font-family: helvetica; text-align: left; font-size: 1.2em; line-height: 1.2em; }

#Results { background-color: #ffffff; float: left; margin-right: 20px; min-width: 400px; padding: 10px 10px; }

#Results p { font: garamond; max-width: 400px; min-width: 320px; }

#Results ul { list-style-type: disk; max-width: 320px; line-height: 1.25em; }

#Results h2 { max-width: 350px; color: #000000; font-family: garamond; text-align: left; font-size: 2em; line-height: 1em; }

#Results a { font-weight: bold; text-decoration: underline; padding: 1px; }

#Results ol { list-style-type: disk; max-width: 320px; line-height: 1.25em; }

#Results .usage-page a:not(.page-header) { text-decoration: none; padding: 1px; font-weight: normal; }

#Results .usage-page a.active-term:not(.page-header) { background-color: #fbfc9d; }

#Resources { background-color: #ffffff; margin-right: 20px; max-width: 400px; padding: 10px; }

#Resources ul { max-width: 320px; padding: 5px; line-height: 1.4em; }

#Resources li { padding: 10px; }

#Intro { border-style: solid; border-width: thin; border-color: #dcdcdc; background: #ffffff; overflow: hidden; width: 240px; padding: 3px 60px 10px 20px; float: right; }

#Intro h3 { font-family: helvetica; color: ef1414; }

#Intro a:link { font-size: 1.2em; line-height: 1.4em; text-decoration: none; }

#Intro li { line-height: 1.5em; }

#Intro h3 { font-size: 2em; }

/* Responsive Standard Styles */
@media screen and (max-width: 800px) { #header { min-width: 320px; } #search { float: none; width: 100%; } #nav { width: 100%; min-width: 480px; padding: 10px 0px 10px 0px; background: #000000; color: #ffffff; } #nav ul { margin: 0; padding: 0; list-style: none; } #nav li { display: block; padding: 10px; } #nav a:link { font-size: 0.9em; line-height: 1em; text-decoration: none; color: #ffffff; font-family: helvetica; padding: 10px 10px 10px 10px; font-weight: bold; } #nav a:visited { color: #ffffff; } #nav a:hover { background: #ffffff; color: #ef1414; } #nav a:active { color: #ffffff; } #footer { width: 100%; } /* Responsive Template Specific Styles */ #Cover h1 { margin-left: 10px; font-family: helvetica; text-align: left; font-size: 3em; line-height: 0.25em; } #Cover h2 { margin-left: 10px; color: #ef1414; font-family: helvetica; text-align: left; font-size: 1em; line-height: 1em; } #Chapter { float: none; margin-left: 7px; width: auto; border: 0; } #Chapter h3 { font-size: 1em; } #Lessons { float: none; width: auto; padding: 13px; } #Page { margin: 0; width: auto; border: 0; } #Page p { font-size: 1em; line-height: 1.2em; max-width: 320px; min-width: 100px; } #Page h2 { max-width: 320px; min-width: 100px; font-size: 1.5em; line-height: 1.2em; } #Page ul { font-size: 1em; line-height: 1.2em; max-width: 320px; min-width: 100px; } #Page ol { font-size: 1em; line-height: 1.2em; max-width: 320px; min-width: 100px; } img { max-width: 320px; min-width: 150px; } }

/* Template Specific Styles */
#Page { background-color: #ffffff; min-width: 400px; padding: 20px; margin-top: 65px; }

#Page p { max-width: 400px; min-width: 320px; font-size: 1.2em; line-height: 1.4em; }

#Page ul { max-width: 400px; list-style-type: disk; font-size: 1.2em; line-height: 1.4em; }

#Page ol { max-width: 400px; list-style-type: disk; font-size: 1.2em; line-height: 1.4em; }

#Page h2 { max-width: 400px; color: #000000; font-family: garamond; text-align: left; font-size: 2em; line-height: 1em; }

#Page a { background-color: #fbfc9d; text-decoration: none; padding: 1px; }

img { max-width: 450px; min-width: 320px; padding-bottom: 40px; padding-top: 50px; padding-left: 50px; float: center; }

#Controls { text-align: center; width: 100%; min-width: 320px; background: #ffffff; color: #000000; }

#Controls ul { margin: 0; padding: 0; list-style: none; }

#Controls li { text-align: center; display: inline; margin: 0; padding: 0; }

#Controls a:link { text-decoration: none; color: #000000; font-family: garamond; padding: 10px 10px 10px 10px; }

#Controls a:visited { color: #000000; }

#Controls a:hover { background: #ffffff; color: #ef1414; }

#Controls a:active { color: #000000; }

#Controls button { padding: 10px; background-color: #000000; border: 1px solid #ffffff; color: #ffffff; text-decoration: none; font-weight: bold; }

#Controls button:hover { color: ef1414; background-color: e3e2e2; }

/*# sourceMappingURL=main.css.map */